@import "theme";

.btn {
  color: black;
  padding: .8rem 2rem;
  border-radius: 3px;
  background-color: $primary;
  border: 1px solid transparent;
  font-size: 1rem;
  font-family: $blockstart-bold;
  &:hover {
    filter: brightness(90%);
  }
}