$primary:         #5A6DBF !default;
$teal-main:       #60C8B8 !default;
$primary-dark:    #22205A !default;
$gray:            #F1F3FA !default;
$gray-light:      #F9FAFE !default;
$gray-dark:       #999DAB !default;
$gray-darkest:    #142236 !default;
$dark-text:       #8891B3 !default;

$blockstart-regular: 'Lato Regular';
$blockstart-bold: 'Lato Black';
$blockstart-semi-bold: 'Lato Bold';
$blockstart-light: 'Lato Light';

$blockBG: #fff;
$bold: 700;
$hl-comment: #6a737d;
$hl-1:#24292e;
$hl-2: #032f62;
$hl-3: #fa7459;
$hl-4: #6f42c1;
$hl-5: #005cc5;
$hl-6: #128766;
