@import "../../sass/theme";

.card-body-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 2rem 0 10rem;
  #business-btn {
    background-color: $primary;
  }
}