@import "../../../sass/theme";

.team-title {
  font-size: 2.1875rem;
  color: $primary-dark;
  text-align: center;
  padding: 4rem 0;
}

.profile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    max-width: 200px;
    width: 100%;
    .profile-img {
      background: 50% 50% no-repeat;
      width: 200px;
      border-radius: 5px;
      padding-bottom: 1rem;
    }
    .link-wrapper {
      display: flex;
      justify-content: center;
      .link-icon {
        padding: 0 .5rem .5rem;
      }
    }
    .name {
      font-size: 1.125rem;
      font-weight: bold;
      padding-bottom: .5rem;
    }
    .description {
      font-size: 1rem;
      font-weight: normal;
    }
  }
}