@import "../../../sass/theme";

.dev-education-wrapper {
  text-align: center;
  padding: 3rem 12rem;
  .dev-title, .dev-desc {
    color: $primary-dark;
  }
  .dev-title {
    font-size: 2.1875rem;
  }
  .dev-desc {
    font-size: 1.5rem;
  }
}

