@import "../../sass/theme";

.plan-card-wrapper {
  .plan-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    .card-img {
      margin-bottom: -70px;
      z-index: 10;
      text-align: center;
      .card-top-img {
        max-width: 300px;
        width: 100%;
      }
    }
    .plan-card {
      background-color: $gray;
      text-align: center;
      color: $primary-dark;
      border-radius: 4px;
      padding-top: 90px;
      box-shadow: 1px 1px 5px rgba(0,0,0,.2);
      .card-title {
        font-size: 1.875rem;
        font-family: $blockstart-bold;
      }
      .card-desc-wrapper {
        padding: 1rem 3.7rem 3rem;
        .card-desc {
          font-size: 1.5rem;
          font-family: $blockstart-regular;
        }
      }
      .card-btn-wrapper {
        .card-btn {
          font-size: 1.125rem;
          font-family: $blockstart-semi-bold;
          padding: 1rem 2.5rem;
          background-color: $teal-main;
          color: white;
          border: 1px solid transparent;
          border-radius: 3px;
        }
      }
      .card-bullet-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem 2rem;
        text-align: left;
        .bullet-cell {
          display: flex;
          align-items: start;
          padding: .6rem 0;
          .bullet-icon {
            padding-right: 1rem;
          }
          .bullet-feature {
            font-size: 1.125rem;
            font-family: $blockstart-regular;
          }
        }
      }
    }
  }
}